.periodPicker {
    /*width: calc(var(--cell-size) * 5);*/
    min-height: var(--cell-size);
    padding: calc(var(--cell-size) / 4);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 0px rgba(100, 100, 100, 0.15);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calendarIcon {
    font-size: 30px;
    color: rgba(100, 100, 100, 1);
    padding-right: calc(var(--cell-size) / 4);
}